<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Список ресторанів</h2>
      <ul>
          {% for point in point %}
              <li>{{ point.name_point }} ({{ point.adress }})</li>
          {% empty %}
              <li>Ресторанів поки що немає</li>
          {% endfor %}
      </ul>
</body>
</html>